<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itaka.blog.mapper.BlogMapper" >
  <resultMap id="BaseResultMap" type="com.itaka.blog.pojo.Blog" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="CHAR" />
    <result column="cover_image" property="coverImage" jdbcType="VARCHAR" />
    <result column="is_markdown" property="isMarkdown" jdbcType="BIT" />
    <result column="top" property="top" jdbcType="BIT" />
    <result column="type_id" property="typeId" jdbcType="CHAR" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="recommended" property="recommended" jdbcType="BIT" />
    <result column="original" property="original" jdbcType="BIT" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="keywords" property="keywords" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.itaka.blog.pojo.BlogWithBLOBs" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    <result column="content_md" property="contentMd" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, user_id, cover_image, is_markdown, top, type_id, status, recommended, 
    original, description, keywords, comment, create_time, update_time
  </sql>
  <sql id="Blob_Column_List" >
    content, content_md
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_blog
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_blog
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.itaka.blog.pojo.BlogWithBLOBs" >
    insert into tb_blog (id, title, user_id, 
      cover_image, is_markdown, top, 
      type_id, status, recommended, original, 
      description, keywords, comment, 
      create_time, update_time, content, 
      content_md)
    values (#{id,jdbcType=CHAR}, #{title,jdbcType=VARCHAR}, #{userId,jdbcType=CHAR}, 
      #{coverImage,jdbcType=VARCHAR}, #{isMarkdown,jdbcType=BIT}, #{top,jdbcType=BIT}, 
      #{typeId,jdbcType=CHAR}, #{status,jdbcType=BIT}, #{recommended,jdbcType=BIT}, #{original,jdbcType=BIT}, 
      #{description,jdbcType=VARCHAR}, #{keywords,jdbcType=VARCHAR}, #{comment,jdbcType=BIT}, 
      #{createTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR}, 
      #{contentMd,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.itaka.blog.pojo.BlogWithBLOBs" >
    insert into tb_blog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="coverImage != null" >
        cover_image,
      </if>
      <if test="isMarkdown != null" >
        is_markdown,
      </if>
      <if test="top != null" >
        top,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="recommended != null" >
        recommended,
      </if>
      <if test="original != null" >
        original,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="keywords != null" >
        keywords,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="contentMd != null" >
        content_md,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=CHAR},
      </if>
      <if test="coverImage != null" >
        #{coverImage,jdbcType=VARCHAR},
      </if>
      <if test="isMarkdown != null" >
        #{isMarkdown,jdbcType=BIT},
      </if>
      <if test="top != null" >
        #{top,jdbcType=BIT},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="recommended != null" >
        #{recommended,jdbcType=BIT},
      </if>
      <if test="original != null" >
        #{original,jdbcType=BIT},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null" >
        #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="contentMd != null" >
        #{contentMd,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.itaka.blog.pojo.BlogWithBLOBs" >
    update tb_blog
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=CHAR},
      </if>
      <if test="coverImage != null" >
        cover_image = #{coverImage,jdbcType=VARCHAR},
      </if>
      <if test="isMarkdown != null" >
        is_markdown = #{isMarkdown,jdbcType=BIT},
      </if>
      <if test="top != null" >
        top = #{top,jdbcType=BIT},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="recommended != null" >
        recommended = #{recommended,jdbcType=BIT},
      </if>
      <if test="original != null" >
        original = #{original,jdbcType=BIT},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null" >
        keywords = #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="contentMd != null" >
        content_md = #{contentMd,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.itaka.blog.pojo.BlogWithBLOBs" >
    update tb_blog
    set title = #{title,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=CHAR},
      cover_image = #{coverImage,jdbcType=VARCHAR},
      is_markdown = #{isMarkdown,jdbcType=BIT},
      top = #{top,jdbcType=BIT},
      type_id = #{typeId,jdbcType=CHAR},
      status = #{status,jdbcType=BIT},
      recommended = #{recommended,jdbcType=BIT},
      original = #{original,jdbcType=BIT},
      description = #{description,jdbcType=VARCHAR},
      keywords = #{keywords,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=BIT},
      create_time = #{createTime,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR},
      content_md = #{contentMd,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itaka.blog.pojo.Blog" >
    update tb_blog
    set title = #{title,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=CHAR},
      cover_image = #{coverImage,jdbcType=VARCHAR},
      is_markdown = #{isMarkdown,jdbcType=BIT},
      top = #{top,jdbcType=BIT},
      type_id = #{typeId,jdbcType=CHAR},
      status = #{status,jdbcType=BIT},
      recommended = #{recommended,jdbcType=BIT},
      original = #{original,jdbcType=BIT},
      description = #{description,jdbcType=VARCHAR},
      keywords = #{keywords,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=BIT},
      create_time = #{createTime,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>