<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itaka.blog.mapper.LogMapper" >
  <resultMap id="BaseResultMap" type="com.itaka.blog.pojo.Log" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="moudle" property="moudle" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="add_time" property="addTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, operator, content, moudle, type, ip, add_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_log
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_log
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.itaka.blog.pojo.Log" >
    insert into tb_log (id, operator, content, 
      moudle, type, ip, add_time
      )
    values (#{id,jdbcType=CHAR}, #{operator,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{moudle,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, #{addTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.itaka.blog.pojo.Log" >
    insert into tb_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="moudle != null" >
        moudle,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="moudle != null" >
        #{moudle,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.itaka.blog.pojo.Log" >
    update tb_log
    <set >
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="moudle != null" >
        moudle = #{moudle,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itaka.blog.pojo.Log" >
    update tb_log
    set operator = #{operator,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      moudle = #{moudle,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  
  <!-- 获取日志总数 -->
  <select id="getLogTotal" resultType="int">
  	select count(1) from tb_log
  </select>
  
  <!-- 获取日志列表 -->
  <select id="getLogList" parameterType="com.itaka.blog.vo.LogConditionVo" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"/>
  	from tb_log 
  	order by add_time desc
  	limit #{startRow},#{pageSize}
  </select>
</mapper>